USE [master]
GO
/****** Object:  Database [Sales_StandardV2]    Script Date: 1/23/2020 12:12:08 ص ******/
CREATE DATABASE [Sales_StandardV2] ON  PRIMARY 
( NAME = N'Sales_StandardV2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Sales_StandardV2.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Sales_StandardV2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Sales_StandardV2_log.ldf' , SIZE = 3136KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sales_StandardV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sales_StandardV2]
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank](
	[Money] [real] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bank_Insert]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank_Insert](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Money] [real] NULL,
	[Date] [nvarchar](50) NULL,
	[Name] [nvarchar](250) NULL,
	[Type] [nvarchar](200) NULL,
	[Reason] [nvarchar](50) NULL,
 CONSTRAINT [PK_Bank_Insert] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bank_Pull]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank_Pull](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Money] [real] NULL,
	[Date] [nvarchar](50) NULL,
	[Name] [nvarchar](250) NULL,
	[Type] [nvarchar](200) NULL,
	[Reason] [nvarchar](250) NULL,
 CONSTRAINT [PK_Bank_Pull] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[barcode]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[barcode](
	[barcode] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrow]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow](
	[Order_ID] [int] NOT NULL,
	[Price] [real] NULL,
	[Borrow_From] [nvarchar](250) NULL,
	[Borrow_To] [nvarchar](250) NULL,
	[Date] [nvarchar](50) NULL,
	[Date_Reminder] [nvarchar](50) NULL,
	[Note] [nvarchar](250) NULL,
 CONSTRAINT [PK_Borrow] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buy]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buy](
	[Order_ID] [int] NOT NULL,
	[Date] [nvarchar](50) NULL,
	[Sup_ID] [int] NULL,
	[Store_ID] [int] NULL,
 CONSTRAINT [PK_Buy] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buy_Detalis]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buy_Detalis](
	[Order_ID] [int] NULL,
	[Item_ID] [int] NULL,
	[Sup_ID] [int] NULL,
	[Qty] [real] NULL,
	[Price] [real] NULL,
	[Date] [nvarchar](50) NULL,
	[Total] [real] NULL,
	[Discount] [real] NULL,
	[Unit] [nvarchar](250) NULL,
	[UserName] [nvarchar](250) NULL,
	[Tax_Value] [real] NULL,
	[Price_Tax] [real] NULL,
	[Madfo3] [real] NULL,
	[Time] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuyRaw]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuyRaw](
	[Order_ID] [int] NOT NULL,
	[Date] [nvarchar](50) NULL,
	[Sup_ID] [int] NULL,
 CONSTRAINT [PK_BuyRaw] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuyRawDetalies]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuyRawDetalies](
	[Order_ID] [int] NULL,
	[Raw_ID] [int] NULL,
	[Sup_ID] [int] NULL,
	[Qty] [real] NULL,
	[Price] [real] NULL,
	[Date] [nvarchar](50) NULL,
	[Total] [real] NULL,
	[Discount] [real] NULL,
	[Unit] [nvarchar](250) NULL,
	[UserName] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Cust_ID] [int] NOT NULL,
	[Cust_Name] [nvarchar](150) NULL,
	[Cust_Address] [nvarchar](250) NULL,
	[Cust_Phone] [nvarchar](50) NULL,
	[Cust_Code] [nvarchar](200) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Cust_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Money]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Money](
	[Order_ID] [real] NULL,
	[Price] [real] NULL,
	[Cust_ID] [int] NULL,
	[Date] [nvarchar](50) NULL,
	[Date_Reminder] [nvarchar](50) NULL,
	[Type] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Report]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Report](
	[Order_ID] [int] NULL,
	[Cust_Name] [nvarchar](200) NULL,
	[Price] [real] NULL,
	[Date] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deserved]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deserved](
	[Des_ID] [int] NOT NULL,
	[Type] [int] NULL,
	[Date] [nvarchar](50) NULL,
	[Price] [real] NULL,
	[Notes] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deserved_Type]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deserved_Type](
	[Des_ID] [int] NOT NULL,
	[Des_Type] [nvarchar](100) NULL,
 CONSTRAINT [PK_Deservd_Type] PRIMARY KEY CLUSTERED 
(
	[Des_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Emp_ID] [int] NOT NULL,
	[Emp_Name] [nvarchar](200) NULL,
	[Emp_Salary] [nvarchar](50) NULL,
	[Emp_Date] [nvarchar](50) NULL,
	[Emp_Phone] [nvarchar](200) NULL,
	[Emp_Natio_ID] [nvarchar](200) NULL,
	[Emp_Address] [nvarchar](250) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Emp_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Borrow]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Borrow](
	[Order_ID] [int] NOT NULL,
	[Item_ID] [int] NULL,
	[Emp_ID] [int] NULL,
	[Date] [nvarchar](50) NULL,
	[Qty] [real] NULL,
 CONSTRAINT [PK_Employee_Borrow] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Salary]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Salary](
	[Order_ID] [int] NOT NULL,
	[Emp_ID] [int] NULL,
	[Salary] [real] NULL,
	[Date_Reminder] [nvarchar](50) NULL,
	[Date] [nvarchar](50) NULL,
	[Notes] [nvarchar](250) NULL,
 CONSTRAINT [PK_Employee_Salary] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_SalaryMinus]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_SalaryMinus](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Emp_ID] [int] NULL,
	[Emp_Name] [nvarchar](250) NULL,
	[Date] [nvarchar](50) NULL,
	[Qty] [int] NULL,
	[Price] [real] NULL,
	[Pay] [nvarchar](50) NULL,
 CONSTRAINT [PK_Employee_SalaryMinus] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fixed]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fixed](
	[Order_ID] [int] NOT NULL,
	[Date] [nvarchar](50) NULL,
 CONSTRAINT [PK_Fixed] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fixed_Detalis]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fixed_Detalis](
	[Order_ID] [int] NULL,
	[Item_ID] [int] NULL,
	[Cust_Name] [nvarchar](200) NULL,
	[Qty] [real] NULL,
	[Price] [real] NULL,
	[Date] [nvarchar](50) NULL,
	[Total] [real] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Item_ID] [int] NOT NULL,
	[Item_Name] [nvarchar](250) NULL,
	[Item_Qty] [real] NULL,
	[Item_Price_Sale] [real] NULL,
	[Barcode] [nvarchar](50) NULL,
	[Item_Price_Sale_Part] [real] NULL,
	[Item_Min] [int] NULL,
	[Max_Discount] [real] NULL,
	[G_ID] [int] NULL,
	[IS_Tax] [nvarchar](50) NULL,
	[Tax_Value] [real] NULL,
	[Price_Tax] [real] NULL,
	[Main_Unit] [nvarchar](250) NULL,
	[Unit_ID] [int] NULL,
	[MainUnit_SaleID] [int] NULL,
	[MainUnit_SaleName] [nvarchar](250) NULL,
	[MainUnit_BuyID] [int] NULL,
	[MainUnit_BuyName] [nvarchar](250) NULL,
	[Is_Fav] [int] NULL,
	[Is_Expeird] [int] NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items_Group]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items_Group](
	[G_ID] [int] NOT NULL,
	[G_Name] [nvarchar](250) NULL,
 CONSTRAINT [PK_Items_Group] PRIMARY KEY CLUSTERED 
(
	[G_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items_OutStore]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items_OutStore](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Item_ID] [int] NULL,
	[Item_Name] [nvarchar](250) NULL,
	[Qty] [real] NULL,
	[Unit] [nvarchar](250) NULL,
	[Store_Name] [nvarchar](250) NULL,
	[Date] [nvarchar](50) NULL,
	[Name] [nvarchar](250) NULL,
	[Reason] [nvarchar](250) NULL,
 CONSTRAINT [PK_Items_OutStore] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items_Qty]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items_Qty](
	[Item_ID] [int] NULL,
	[Store_ID] [int] NULL,
	[Store_Name] [nvarchar](250) NULL,
	[Qty] [real] NULL,
	[Price_Buy] [real] NULL,
	[Price_Sale] [real] NULL,
	[DateExpierd] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items_Transfire]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items_Transfire](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Item_ID] [int] NULL,
	[Item_Name] [nvarchar](250) NULL,
	[Store_From] [nvarchar](250) NULL,
	[Store_To] [nvarchar](250) NULL,
	[Qty] [real] NULL,
	[Unit] [nvarchar](250) NULL,
	[Price_Buy] [real] NULL,
	[Price_Sale] [real] NULL,
	[Date] [nvarchar](50) NULL,
	[TranFire_Name] [nvarchar](250) NULL,
	[Reason] [nvarchar](250) NULL,
 CONSTRAINT [PK_Items_Transfire] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items_Unit]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items_Unit](
	[Item_ID] [int] NULL,
	[Unit_ID] [int] NULL,
	[Unit_Name] [nvarchar](250) NULL,
	[Qty_In_Main] [real] NULL,
	[Price_Buy] [real] NULL,
	[Price_Sale] [real] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kest]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kest](
	[Order_ID] [int] NULL,
	[Cust_ID] [int] NULL,
	[Kest_Num] [nvarchar](100) NULL,
	[Kest_Value] [real] NULL,
	[Kest_Date_Deserved] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kest_Report]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kest_Report](
	[Cust_ID] [int] NULL,
	[Date] [nvarchar](50) NULL,
	[Kest_Num] [nvarchar](100) NULL,
	[Kest_Value] [real] NULL,
	[Kest_Date_Deserved] [nvarchar](50) NULL,
	[Payer] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Money_Transfire]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Money_Transfire](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Money] [real] NULL,
	[Date] [nvarchar](50) NULL,
	[Name] [nvarchar](250) NULL,
	[From_] [nvarchar](250) NULL,
	[To_] [nvarchar](200) NULL,
	[Reason] [nvarchar](50) NULL,
	[Stock_ID] [int] NULL,
 CONSTRAINT [PK_Money_Transfire] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderPrintData]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderPrintData](
	[Logo] [image] NULL,
	[Address] [nvarchar](250) NULL,
	[Description] [nvarchar](250) NULL,
	[Phone1] [nvarchar](250) NULL,
	[Phone2] [nvarchar](250) NULL,
	[Name] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owners]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owners](
	[Owner_ID] [int] NOT NULL,
	[Owner_Name] [nvarchar](250) NULL,
 CONSTRAINT [PK_Owners] PRIMARY KEY CLUSTERED 
(
	[Owner_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RandomBarcode]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RandomBarcode](
	[RanBarcode] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Raw]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Raw](
	[Raw_ID] [int] NOT NULL,
	[Raw_Name] [nvarchar](250) NULL,
	[Main_Unit] [nvarchar](250) NULL,
	[Small_Unit] [nvarchar](250) NULL,
	[CountInMainUnit] [int] NULL,
	[Price_Buy] [real] NULL,
	[Price_Sale] [real] NULL,
	[Qty] [real] NULL,
 CONSTRAINT [PK_Raw] PRIMARY KEY CLUSTERED 
(
	[Raw_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Raw_Production]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Raw_Production](
	[Raw_Pro_ID] [int] NOT NULL,
	[Raw_Pro_Date] [nvarchar](50) NULL,
 CONSTRAINT [PK_Raw_Production] PRIMARY KEY CLUSTERED 
(
	[Raw_Pro_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Raw_Production_Detalis]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Raw_Production_Detalis](
	[Raw_Pro_ID] [int] NULL,
	[Date] [nvarchar](50) NULL,
	[Raw_ID] [int] NULL,
	[Raw_Name] [nvarchar](250) NULL,
	[Unit_Raw] [nvarchar](250) NULL,
	[Qty_Raw] [real] NULL,
	[Items_ID] [int] NULL,
	[Unit_Items] [nvarchar](250) NULL,
	[Qty_Items] [real] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rent]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rent](
	[Order_ID] [int] NOT NULL,
	[Date] [nvarchar](50) NULL,
	[Cust_ID] [int] NULL,
	[Notes] [nvarchar](250) NULL,
 CONSTRAINT [PK_Rent] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rent_Detalis]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rent_Detalis](
	[Order_ID] [int] NULL,
	[Item_ID] [int] NULL,
	[Cust_ID] [int] NULL,
	[Qty] [real] NULL,
	[Price] [real] NULL,
	[DateRent] [nvarchar](50) NULL,
	[Total] [real] NULL,
	[Madfo3] [real] NULL,
	[UserName] [nvarchar](250) NULL,
	[DateFrom] [nvarchar](50) NULL,
	[DateTo] [nvarchar](50) NULL,
	[Total_Order] [real] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Repir]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repir](
	[Repir_ID] [int] NOT NULL,
	[Cust_ID] [int] NULL,
	[Owner_ID] [int] NULL,
	[Date] [nvarchar](50) NULL,
	[Problem] [nvarchar](250) NULL,
	[DateFrom] [nvarchar](50) NULL,
	[DateTo] [nvarchar](50) NULL,
	[Cost] [real] NULL,
	[Note] [nvarchar](500) NULL,
	[Madfo3] [real] NULL,
 CONSTRAINT [PK_Repir] PRIMARY KEY CLUSTERED 
(
	[Repir_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Return_]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Return_](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [nvarchar](50) NULL,
	[Type] [nvarchar](250) NULL,
 CONSTRAINT [PK_Return_] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Return_Detalis]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Return_Detalis](
	[ReturnOrder_ID] [int] NOT NULL,
	[Item_Name] [nvarchar](250) NULL,
	[Qty] [real] NULL,
	[Price] [real] NULL,
	[Tax] [real] NULL,
	[Pric_Tax] [real] NULL,
	[UserName] [nvarchar](250) NULL,
	[Return_Date] [nvarchar](50) NULL,
	[Return_Type] [nvarchar](250) NULL,
	[Order_ID] [int] NULL,
	[ReturnName] [nvarchar](250) NULL,
	[Unit] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[Order_ID] [int] NOT NULL,
	[Date] [nvarchar](50) NULL,
	[Cust_ID] [int] NULL,
	[Cust_Name] [nvarchar](250) NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale_Detalis]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale_Detalis](
	[Order_ID] [int] NULL,
	[Item_ID] [int] NULL,
	[Cust_ID] [int] NULL,
	[Cust_Name] [nvarchar](250) NULL,
	[Unit] [nvarchar](250) NULL,
	[Qty] [real] NULL,
	[Price] [real] NULL,
	[Date] [nvarchar](50) NULL,
	[Discount] [real] NULL,
	[Total] [real] NULL,
	[Madfo3] [real] NULL,
	[UserName] [nvarchar](250) NULL,
	[Time] [nvarchar](250) NULL,
	[Tax_Value] [real] NULL,
	[Price_Tax] [real] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale_Detalis_Rbh7]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale_Detalis_Rbh7](
	[Order_ID] [int] NULL,
	[Item_ID] [int] NULL,
	[Cust_ID] [int] NULL,
	[Cust_Name] [nvarchar](250) NULL,
	[Qty] [real] NULL,
	[Buy_Price] [real] NULL,
	[Sale_Price] [real] NULL,
	[Date] [nvarchar](50) NULL,
	[Discount] [real] NULL,
	[Order_Total] [real] NULL,
	[Madfo3] [real] NULL,
	[Time] [nvarchar](250) NULL,
	[User_Name] [nvarchar](250) NULL,
	[Unit] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sanad_Kabd]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sanad_Kabd](
	[Order_ID] [int] NOT NULL,
	[Sanad_Name] [nvarchar](250) NULL,
	[Sanad_Price] [real] NULL,
	[Sanad_From] [nvarchar](250) NULL,
	[Sanad_Date] [nvarchar](50) NULL,
	[Notes] [nvarchar](250) NULL,
 CONSTRAINT [PK_Sanad_Kabd] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sanad_Sarf]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sanad_Sarf](
	[Order_ID] [int] NOT NULL,
	[Sanad_Name] [nvarchar](250) NULL,
	[Sanad_Price] [real] NULL,
	[Sanad_To] [nvarchar](250) NULL,
	[Sanad_Date] [nvarchar](50) NULL,
	[Notes] [nvarchar](250) NULL,
 CONSTRAINT [PK_Sanad_Sarf] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[Money] [real] NULL,
	[Stock_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock_Data]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock_Data](
	[Stock_ID] [int] NOT NULL,
	[Stock_Name] [nvarchar](250) NULL,
 CONSTRAINT [PK_Stock_Data] PRIMARY KEY CLUSTERED 
(
	[Stock_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock_Insert]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock_Insert](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Money] [real] NULL,
	[Date] [nvarchar](50) NULL,
	[Name] [nvarchar](250) NULL,
	[Type] [nvarchar](200) NULL,
	[Reason] [nvarchar](50) NULL,
	[Stock_ID] [int] NULL,
 CONSTRAINT [PK_Stock_Insert] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock_Pull]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock_Pull](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Money] [real] NULL,
	[Date] [nvarchar](50) NULL,
	[Name] [nvarchar](250) NULL,
	[Type] [nvarchar](200) NULL,
	[Reason] [nvarchar](250) NULL,
	[Stock_ID] [int] NULL,
 CONSTRAINT [PK_Stock_Pull] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[Store_ID] [int] NOT NULL,
	[Store_Name] [nvarchar](250) NULL,
 CONSTRAINT [PK_Store] PRIMARY KEY CLUSTERED 
(
	[Store_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suplier]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suplier](
	[Sup_ID] [int] NOT NULL,
	[Sup_Name] [nvarchar](200) NULL,
	[Sup_Address] [nvarchar](250) NULL,
	[Sup_Phone] [nvarchar](50) NULL,
	[Sup_Code] [nvarchar](200) NULL,
 CONSTRAINT [PK_Suplier] PRIMARY KEY CLUSTERED 
(
	[Sup_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suplier_Money]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suplier_Money](
	[Order_ID] [real] NULL,
	[Price] [real] NULL,
	[Sup_ID] [int] NULL,
	[Date] [nvarchar](50) NULL,
	[Date_Reminder] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suplier_Report]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suplier_Report](
	[Order_ID] [int] NULL,
	[Sup_Name] [nvarchar](200) NULL,
	[Price] [real] NULL,
	[Date] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Taxes_Report]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taxes_Report](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Order_Type] [nvarchar](250) NULL,
	[Tax_Type] [nvarchar](250) NULL,
	[Date] [nvarchar](50) NULL,
	[Sup_Name] [nvarchar](250) NULL,
	[Cust_Name] [nvarchar](250) NULL,
	[Total_Price] [real] NULL,
	[Tax_Value] [real] NULL,
	[Total_WithTax] [real] NULL,
	[Order_Num] [int] NULL,
 CONSTRAINT [PK_Taxes_Report] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestData]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestData](
	[Name] [nvarchar](50) NULL,
	[barcode] [nvarchar](50) NULL,
	[price] [nvarchar](50) NULL,
	[ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trial]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trial](
	[day] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[Unit_ID] [int] NOT NULL,
	[Unit_Name] [nvarchar](250) NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[Unit_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] NOT NULL,
	[Password] [nvarchar](150) NULL,
	[UserName] [nvarchar](250) NULL,
	[Type] [nvarchar](50) NULL,
	[Stock_ID] [int] NULL,
	[Rbh7] [real] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_BackUp]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_BackUp](
	[User_ID] [int] NULL,
	[Take_Backup] [int] NULL,
	[Restore_BackUp] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_Buy]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_Buy](
	[User_ID] [int] NULL,
	[Buy] [int] NULL,
	[Buy_Report] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_Customer]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_Customer](
	[User_ID] [int] NULL,
	[Customer] [int] NULL,
	[Customer_Money] [int] NULL,
	[Customer_MoneyReport] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_Deserved]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_Deserved](
	[User_ID] [int] NULL,
	[Deserved_Type] [int] NULL,
	[Deserved] [int] NULL,
	[Deserved_Report] [int] NULL,
	[Sanad_Kabd] [int] NULL,
	[Sanad_Sarf] [int] NULL,
	[Sanad_Report] [int] NULL,
	[Taxes_Report] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_Emplyee]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_Emplyee](
	[User_ID] [int] NULL,
	[Emplyee_Add] [int] NULL,
	[Emplyee_Borrow] [int] NULL,
	[Emplyee_BorrowMoney] [int] NULL,
	[Emplyee_Salary] [int] NULL,
	[Emplyee_SalaryReport] [int] NULL,
	[Emplyee_BorrowMoneyReport] [int] NULL,
	[Emplyee_BorrowReport] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_Return]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_Return](
	[User_ID] [int] NULL,
	[Return_] [int] NULL,
	[Return_Report] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_Sale]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_Sale](
	[User_ID] [int] NULL,
	[Sale] [int] NULL,
	[Sale_Report] [int] NULL,
	[Sale_ReportRp7h] [int] NULL,
	[Items_Gard] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_Setting]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_Setting](
	[User_ID] [int] NULL,
	[Program_Setting] [int] NULL,
	[Units] [int] NULL,
	[AddStore] [int] NULL,
	[GardStore] [int] NULL,
	[ItemsTransfire] [int] NULL,
	[ItemsTransfire_Report] [int] NULL,
	[UserPermisson] [int] NULL,
	[ItemsOutStore] [int] NULL,
	[ItemsOutStore_Report] [int] NULL,
	[ItemsGroup] [int] NULL,
	[ItemsView] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_StockBank]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_StockBank](
	[User_ID] [int] NULL,
	[Stock_Add] [int] NULL,
	[Stock_Insert] [int] NULL,
	[Bank_Insert] [int] NULL,
	[Stock_Pull] [int] NULL,
	[Bank_Pull] [int] NULL,
	[Stock_Transfire] [int] NULL,
	[Stock_BankTransfire] [int] NULL,
	[CurrentMoney] [int] NULL,
	[Reports] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_Suplier]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_Suplier](
	[User_ID] [int] NULL,
	[Suplier] [int] NULL,
	[Suplier_Money] [int] NULL,
	[Supliey_MoneyReport] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Buy_Detalis]  WITH CHECK ADD  CONSTRAINT [FK_Buy_Detalis_Buy] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Buy] ([Order_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Buy_Detalis] CHECK CONSTRAINT [FK_Buy_Detalis_Buy]
GO
ALTER TABLE [dbo].[Buy_Detalis]  WITH CHECK ADD  CONSTRAINT [FK_Buy_Detalis_Items] FOREIGN KEY([Item_ID])
REFERENCES [dbo].[Items] ([Item_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Buy_Detalis] CHECK CONSTRAINT [FK_Buy_Detalis_Items]
GO
ALTER TABLE [dbo].[Buy_Detalis]  WITH CHECK ADD  CONSTRAINT [FK_Buy_Detalis_Suplier] FOREIGN KEY([Sup_ID])
REFERENCES [dbo].[Suplier] ([Sup_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Buy_Detalis] CHECK CONSTRAINT [FK_Buy_Detalis_Suplier]
GO
ALTER TABLE [dbo].[Customer_Money]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Money_Customer] FOREIGN KEY([Cust_ID])
REFERENCES [dbo].[Customer] ([Cust_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customer_Money] CHECK CONSTRAINT [FK_Customer_Money_Customer]
GO
ALTER TABLE [dbo].[Sale_Detalis]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Detalis_Items] FOREIGN KEY([Item_ID])
REFERENCES [dbo].[Items] ([Item_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sale_Detalis] CHECK CONSTRAINT [FK_Sale_Detalis_Items]
GO
ALTER TABLE [dbo].[Sale_Detalis]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Detalis_Sale] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Sale] ([Order_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sale_Detalis] CHECK CONSTRAINT [FK_Sale_Detalis_Sale]
GO
ALTER TABLE [dbo].[Suplier_Money]  WITH CHECK ADD  CONSTRAINT [FK_Suplier_Money_Suplier] FOREIGN KEY([Sup_ID])
REFERENCES [dbo].[Suplier] ([Sup_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Suplier_Money] CHECK CONSTRAINT [FK_Suplier_Money_Suplier]
GO
/****** Object:  StoredProcedure [dbo].[CustomerKest]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CustomerKest]

as

SELECT [Order_ID] as رقم_الفاتورة,Kest_Value  as المبلغ_المتبقى,(select SUM(Kest_Value) from Kest where Customer.Cust_ID=Kest.Cust_ID) as الاجمالى,Customer.[Cust_Name]  as العميل,Customer.Cust_ID as رقم_العميل,Kest_Date_Deserved  as تاريخ_الفاتورة FROM Kest,Customer where Customer.Cust_ID=Kest.Cust_ID
GO
/****** Object:  StoredProcedure [dbo].[CustomerKestPrint]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CustomerKestPrint]

as

SELECT [Order_ID] as رقم_الفاتورة,Kest_Value  as المبلغ_المتبقى,(select SUM(Kest_Value) from Kest where Customer.Cust_ID=Kest.Cust_ID) as الاجمالى,Customer.[Cust_Name]  as العميل,Customer.Cust_ID as رقم_العميل,Kest_Date_Deserved  as تاريخ_الفاتورة FROM Kest,Customer where Customer.Cust_ID=Kest.Cust_ID
GO
/****** Object:  StoredProcedure [dbo].[CustomerMoney]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[CustomerMoney]

as

SELECT [Order_ID] as رقم_الفاتورة,[Price]  as المبلغ_المتبقى,(select SUM(Price) from [Customer_Money] where Customer.Cust_ID=Customer_Money.Cust_ID) as الاجمالى,Customer.[Cust_Name]  as العميل,Customer.Cust_ID as رقم_العميل,[Date]  as تاريخ_الفاتورة FROM [Customer_Money],Customer where Customer.Cust_ID=Customer_Money.Cust_ID
GO
/****** Object:  StoredProcedure [dbo].[ItemsReport]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ItemsReport]

as
SELECT [Items_Qty].[Item_ID] as 'رقم المنتج',Items.Item_Name as 'اسم المنتج',[Store_Name] as 'اسم المخزن المتواجد فيه',[Qty] as 'الكمية',[Price_Buy] as 'سعر الشراء',[Price_Sale] as 'سعر البيع' FROM [Items_Qty],Items where [Items_Qty].Item_ID=Items.Item_ID
GO
/****** Object:  StoredProcedure [dbo].[OrderData]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[OrderData]

as

select Logo as 'لوجو' ,Address as 'العنوان',Description as 'الوصف',Phone1 as 'تليفون 1',Phone2 as 'تليفون 2',Name as 'الاسم' from OrderPrintData
GO
/****** Object:  StoredProcedure [dbo].[PrintBuyReport]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PrintBuyReport]

as

SELECT [Order_ID] as رقم_الفاتورة,Suplier.Sup_Name as اسم_المورد,Items.Item_Name as المنتج,Unit as 'الوحدة',[Qty]  as الكمية,Date as التاريخ,(([Price] ) - (Buy_Detalis.[Tax_Value] / Buy_Detalis.Qty)) as السعر, Buy_Detalis.[Tax_Value] as 'الضريبه المضافة' ,[Price] as 'السعر بعد الضريبة',Discount as الخصم,(([Qty] * [Price])- ISNULL(Discount, 0 ) ) as  الاجمالى_بعد_الخصم FROM [Buy_Detalis],Suplier,Items where Items.Item_ID=Buy_Detalis.Item_ID and Suplier.Sup_ID=Buy_Detalis.Sup_ID
GO
/****** Object:  StoredProcedure [dbo].[PrintOrder]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PrintOrder]

as

SELECT [Order_ID] as رقم_الفاتورة
      ,Items.Item_Name as المنتج  
      ,[Qty]  as الكمية
      ,[Price]  as السعر
      ,[Date]  as التاريخ
      ,Unit as 'الوحدة'
      ,([Qty] * [Price])- Discount as الاجمالى
      ,(Total) as  الاجمالى_العام
      ,Madfo3 as المدفوع
      ,(Total) - (Madfo3)  as الباقى
      ,Cust_Name as اسم_العميل
      ,UserName as 'اسم المستخدم'
       ,Discount as 'خصم'
       ,[Sale_Detalis].Tax_Value * [Qty] as 'الضرائب'
  FROM [Sale_Detalis],Items  where Items.Item_ID=Sale_Detalis.Item_ID
GO
/****** Object:  StoredProcedure [dbo].[PrintOrderBuy]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PrintOrderBuy]

as

SELECT [Order_ID] as رقم_الفاتورة
      ,Items.Item_Name as اسم_الصنف  
      ,[Qty]  as الكمية
      ,[Price]  as السعر
      ,[Date]  as التاريخ
      ,[Qty] * [Price] - Discount as الاجمالى
      ,Unit as 'الوحدة'
      ,(Total) as  الاجمالى_العام
      ,Suplier.Sup_Name as المورد
       ,Discount as الخصم
       ,UserName as 'اسم المستخدم'
       ,Madfo3 as 'المدفوع'
       ,[Buy_Detalis].Tax_Value   as 'الضرائب'
  FROM [Buy_Detalis],Items,Suplier  where Items.Item_ID=Buy_Detalis.Item_ID and Suplier.Sup_ID=Buy_Detalis.Sup_ID
GO
/****** Object:  StoredProcedure [dbo].[PrintOrderRent]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PrintOrderRent]

as

SELECT [Order_ID] as رقم_الفاتورة
      ,Items.Item_Name as اسم_الصنف  
      ,[Qty]  as الكمية
      ,[Price]  as 'سعر اليوم'
      ,[DateRent]  as التاريخ
      ,Total as 'الاجمالى'
      ,Madfo3 as 'المدفوع'
      ,Customer.Cust_Name as اسم_المكترى
      ,UserName as 'اسم البائع'
      ,DateFrom as 'بدايه الاكتراء'
      ,DateTo as 'تاريخ الاسترداد'
      ,Total_Order as 'الاجمالى العام'
      ,(Total_Order - Madfo3) as 'الباقى'
  FROM Rent_Detalis,Items,Customer  where Items.Item_ID=Rent_Detalis.Item_ID and Customer.Cust_ID=Rent_Detalis.Cust_ID
GO
/****** Object:  StoredProcedure [dbo].[PrintOrderWithoutCustomer]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PrintOrderWithoutCustomer]

as

SELECT [Order_ID] as رقم_الفاتورة
      ,Items.Item_Name as اسم_الصنف  
      ,[Qty]  as الكمية
      ,[Price]  as السعر
      ,[Date]  as التاريخ
      ,([Qty] * [Price])- Discount as الاجمالى
      ,(Total) as  الاجمالى_العام
      ,Madfo3 as المدفوع
      ,(Total) - (Madfo3)  as الباقى
      ,UserName as 'اسم المستخدم'
      ,Discount as 'خصم'
  FROM [Sale_Detalis],Items  where Items.Item_ID=Sale_Detalis.Item_ID
GO
/****** Object:  StoredProcedure [dbo].[PrintSalesReport]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PrintSalesReport]

as

SELECT [Order_ID] as ' رقم الفاتورة',[Cust_Name] as 'العميل',Items.Item_Name as ' المنتج',[Unit] as 'الوحدة',[Qty] as 'الكمية',[Sale_Detalis].[Tax_Value] * Qty as 'ضريبة القيمه المضافة',[Discount] as 'الخصم',[Sale_Detalis].[Price] as 'السعر بعد الضريبة',Round(([Sale_Detalis].[Price]  * [Qty]) - [Discount],2) as 'الاجمالى',[Date] as 'التاريخ',[Time] as 'الوقت',[UserName] as 'اسم المستخدم' FROM [Sale_Detalis] , Items where  [Sale_Detalis].Item_ID=Items.Item_ID
GO
/****** Object:  StoredProcedure [dbo].[PrintSalesReportRb7h]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PrintSalesReportRb7h]

as

SELECT [Order_ID] as 'رقم الفاتورة',Items.[Item_Name] as 'اسم المنتج',[Cust_Name] as 'العميل',Sale_Detalis_Rbh7.Unit as 'الوحدة',[Qty] as 'الكمية',[Buy_Price] as 'سعر الشراء',[Discount] as 'الخصم',[Sale_Price] as 'سعر البيع',Round(([Qty] * [Sale_Price] ) - [Discount],2) as 'الاجمالى',Round ((( [Sale_Price] -  [Buy_Price]) * ([Qty] )) - [Discount],2) as 'اجمالى الربح',[Date] as 'التاريخ',[Time] as 'الوقت',[User_Name] as 'اسم المستخدم'  FROM [Sale_Detalis_Rbh7],Items where [Sale_Detalis_Rbh7].Item_ID=Items.Item_ID
GO
/****** Object:  StoredProcedure [dbo].[PrintTaxesReport]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PrintTaxesReport]

as

SELECT [Order_ID] as 'مسلسل',[Order_Num] as 'رقم الفاتورة',[Order_Type] as 'نوع العميله',[Tax_Type] as 'نوع الضريبة',Convert(date,Date,105) as 'التاريخ',[Sup_Name] as 'اسم المورد او العميل',[Cust_Name] as 'اسم العميل',[Total_Price] as 'اجمالى الفاتورة',[Tax_Value] as 'اجمالى الضريبة',[Total_WithTax] as 'اجمالى الفاتورة بعد الضريبة' FROM [Taxes_Report]
GO
/****** Object:  StoredProcedure [dbo].[SanadKabd]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SanadKabd]

as

SELECT [Order_ID] as 'رقم السند' ,[Sanad_Name] as 'المسؤل عن القبض',[Sanad_Price] as 'المبلغ',[Sanad_From] as 'القبض من',[Sanad_Date] as 'التاريخ',[Notes] as 'ملاحظات' FROM [Sanad_Kabd]
GO
/****** Object:  StoredProcedure [dbo].[SanadSarf]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SanadSarf]

as

SELECT [Order_ID] as 'رقم العملية' 
      ,[Sanad_Name] as 'المسؤل عن الصرف'
      ,[Sanad_Price] as 'المبلغ'
      ,[Sanad_To] As 'صرف الى'
      ,[Sanad_Date] as 'التاريخ'
      ,[Notes] as 'ملاحظات'
  FROM [Sanad_Sarf]
GO
/****** Object:  StoredProcedure [dbo].[SuplierMoney]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SuplierMoney]

as

SELECT [Order_ID] as رقم_الفاتورة,Suplier.Sup_ID as رقم_المورد,(select SUM(Price) from Suplier_Money where Suplier.Sup_ID=Suplier_Money.Sup_ID) as الاجمالى,[Price]  as المبلغ_المتبقى,Suplier.[Sup_Name]  as المورد,[Date]  as تاريخ_الفاتورة FROM [Suplier_Money],Suplier where Suplier.Sup_ID=Suplier_Money.Sup_ID
GO
/****** Object:  StoredProcedure [dbo].[TaxesReportBuy]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[TaxesReportBuy] @FromBuy nvarchar(30) ,@ToBuy nvarchar(30)

as

SELECT ISNULL(SUM(Total_Price),0) as 'اجمالى فواتير المشتريات' ,ISNULL(SUM (Tax_Value),0) as 'اجمالى ضرائب المشتريات' ,ISNULL(SUM (Total_WithTax),0) as 'اجمالى فواتير المشتريات بعد الضرائب' FROM [Taxes_Report] where Order_Type='فاتورة شراء' and CONVERT (date ,Date ,105) between @FromBuy and @ToBuy
GO
/****** Object:  StoredProcedure [dbo].[TaxesReportReturnBuy]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[TaxesReportReturnBuy] @FromBuyReturn nvarchar(30) ,@ToBuyReturn nvarchar(30)

as

SELECT ISNULL(SUM(Total_Price),0) as 'اجمالى فواتير مرتجعات المشتريات' ,ISNULL(SUM (Tax_Value),0) as 'اجمالى ضرائب مرتجعات المشتريات' ,ISNULL(SUM (Total_WithTax),0) as 'اجمالى فواتير مرتجعات المشتريات بعد الضرائب' FROM [Taxes_Report] where Order_Type='مرتجعات مشتريات' and CONVERT (date ,Date ,105) between @FromBuyReturn and @ToBuyReturn
GO
/****** Object:  StoredProcedure [dbo].[TaxesReportReturnSale]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[TaxesReportReturnSale] @FromSaleReturn nvarchar(30) ,@ToSaleReturn nvarchar(30)

as

SELECT ISNULL(SUM(Total_Price),0) as 'اجمالى فواتير مرتجعات المبيعات' ,ISNULL(SUM (Tax_Value),0) as 'اجمالى ضرائب مرتجعات المبيعات' ,ISNULL(SUM (Total_WithTax),0) as 'اجمالى فواتير مرتجعات المبيعات بعد الضرائب' FROM [Taxes_Report] where Order_Type='مرتجعات بيع' and CONVERT (date ,Date ,105) between @FromSaleReturn and @ToSaleReturn
GO
/****** Object:  StoredProcedure [dbo].[TaxesReportSales]    Script Date: 1/23/2020 12:12:08 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[TaxesReportSales] @FromSale nvarchar(30) ,@ToSale nvarchar(30)

as

SELECT ISNULL(SUM(Total_Price),0) as 'اجمالى فواتير المبيعات' ,ISNULL(SUM (Tax_Value),0) as 'اجمالى ضرائب المبيعات' ,ISNULL(SUM (Total_WithTax),0) as 'اجمالى فواتير المبيعات بعد الضرائب' FROM [Taxes_Report] where Order_Type='فاتورة مبيعات' and CONVERT (date ,Date ,105) between @FromSale and @ToSale
GO
USE [master]
GO
ALTER DATABASE [Sales_StandardV2]
COLLATE Arabic_CI_AI_KS_WS;
GO